SALib
cartopy
cf-xarray
cf_units
cftime
dask[distributed,dataframe]
earthaccess
geocube
geopandas
gsl
h5netcdf
joblib
jupyter
matplotlib
numpy<2.0.0
netCDF4<1.7
openpyxl
pandas
pint_xarray
pyDOE2
pyarrow
pyogrio
rioxarray
scipy
seaborn
shapely
toml
tqdm
types-toml
xarray
xdem
