SALib
cartopy
cf-xarray
cf_units
cftime
dask[distributed,dataframe]
earthaccess
flox
geocube
geopandas
gsl
joblib
jupyter
matplotlib
numpy
netCDF4
openpyxl
pandas
pint_xarray
pyarrow
pyDOE2
pyogrio
rioxarray
scipy
scikit-learn
seaborn
shapely
toml
tqdm
types-toml
xarray
xskillscore
