dask[distributed]
joblib>=1.3.2
matplotlib>=3.8.0
pandas>=2.0.3
scipy>=1.10.1
shapely>=2.0.2
h5netcdf
xarray>=2023.10.1
jupyter
joblib
pyogrio>=0.7.2
pyarrow>=14.0.0
tqdm>=4.66.1
openpyxl>=3.1.2
pytest
toml
types-toml
cartopy
SALib
pyDOE2
cftime
nc-time-axis
netCDF4
seaborn
pyarrow
rioxarray
geocube
geopandas
cf-xarray
nco
cdo
gsl
requests
aiohttp
